{% extends "layout.html" %}

{% block title %}Контакты{% endblock %}

{% set active_page = "contacts" %}

{% block body %}
    <div class="row" style="margin-top: 25px">
        <div class="col-md-12">
            <form action="contacts" method="POST" name="contacts_form" onsubmit="return validateForm(this)">

            </form>
        </div>
    </div>

    <div class="row" style="margin-top: 25px">
        <div class="col-md-5">
            <p>
                <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                (099) 9370673
            </p>
            <p>
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                AJleksei@ukr.net
            </p>
        </div>
    </div>
{% endblock %}